<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
            })
        </script>
        <style type="text/css">
        	iframe{
                overflow: hidden;
                width: 0;
                height: 0;
                position:absolute;
            }
        </style>
        <link rel="stylesheet" href="<%= BASE_URL %>static/index.css" />
    </head>
    <body>
        <noscript>
            <strong>Please enable JavaScript to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=rsI6W0qGw3oLXIn1DOmrVs4XGnWINL4y"></script> -->
        <!-- built files will be auto injected -->
    </body>
</html>